<app-header></app-header>
<ion-content [fullscreen]="true" color="light" *ngIf="pedido">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="7">
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Pedido</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="6">Id pedido</ion-col>
                    <ion-col size="6" class="ion-text-right">{{pedido.id_pedido}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">Fecha de entrega</ion-col>
                    <ion-col size="6" class="ion-text-right"> {{pedido.fecha_entrega | date:'YYYY-MM-dd'}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">Fecha de Creacion</ion-col>
                    <ion-col size="6" class="ion-text-right">{{pedido.fecha_creacion | date:'YYYY-MM-dd'}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">Estado</ion-col>
                    <ion-col size="6" class="ion-text-right"> 
                      <ion-chip mode="md" [color]="pedido.estado_pedido=='pendiente'?'warning':pedido.estado_pedido=='confirmado'?'success':pedido.estado_pedido=='rechazado'?'danger':'primary'">
                        <ion-label>{{pedido.estado_pedido}}</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Detalle Pedido</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="ion-text-center">Imagen</th>
                      <th class="ion-text-center">Nombre</th>
                      <th class="ion-text-center">P.U</th>
                      <th class="ion-text-center">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="ion-text-center">1</td>
                      <td class="center-img">
                        <ion-thumbnail>
                          <img [src]="pedido.imagen_producto" />
                        </ion-thumbnail>
                      </td>
                      <td class="ion-text-center">{{pedido.producto}}</td>
                      <td class="ion-text-center">{{pedido.precio_unitario}} Bs</td>
                      <td class="ion-text-center">{{pedido.cantidad}}</td>
                    </tr>
                  </tbody>
                </table>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-lg="5">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-card-header>
                  <ion-card-title>Informacion del Proveedor</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-avatar slot="start">
                    <img [src]="pedido.imagen_proveedor" />
                  </ion-avatar>
                  <ion-list>
                    <ion-item>
                      <ion-label class="ion-text-wrap">
                        <h2 class="link-like" (click)="verProveedor(pedido.id_proveedor)">{{pedido.proveedor}}</h2>
                        <p>{{pedido.zona_proveedor}}, {{pedido.calle_proveedor}}</p>
                      </ion-label>
                    </ion-item>
                    <ion-list-header>
                      <ion-label>Contacto</ion-label>
                      
                    </ion-list-header>
                    <ion-item>
                      <ion-label>
                        <p>{{pedido.celular_proveedor}}</p>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <ion-card-header>
                  <ion-card-title>Informacion del colegio</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item>
                      <ion-label class="ion-text-wrap">
                        <h3 class="link-like" (click)="verColegio(pedido.id_colegio)">{{pedido.colegio}}</h3>
                        <p>{{pedido.zona_colegio}}, {{pedido.calle_colegio}}</p>
                      </ion-label>
                    </ion-item>
                    <ion-list-header>
                      <ion-label>Contacto</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label>
                        <p>{{pedido.celular_colegio}}</p>
                        <p>{{pedido.telefono_coelgio || 'sin telefono'}}</p>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
               
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>