<app-header></app-header>
<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <ion-card-title>Pedidos</ion-card-title>
              <ion-radio-group value="todos" class="radio-group" (ionChange)="filtarPorEstado($event)">
                <ion-radio value="todos">Todos</ion-radio>
                <ion-radio value="pendiente">Pendientes</ion-radio>
                <ion-radio value="rechazado">Rechazados</ion-radio>
                <ion-radio value="confirmado">Confirmados</ion-radio>
                <ion-radio value="entregado">Entregados</ion-radio>
              </ion-radio-group>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="ion-text-center">Codigo</th>
                    <th class="ion-text-center">Estado</th>
                    <th class="ion-text-center">Fecha entrega</th>
                    <th class="ion-text-center">Fecha creacion</th>
                    <th class="ion-text-center">Cantidad</th>
                    <th class="ion-text-center">Colegio</th>
                    <th class="ion-text-center">Proveedor</th>
                    <th class="ion-text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pedido of pedidos | filterPedidos:estado;let i=index">
                    <td>{{i+1}}</td>
                    <td class="ion-text-center"><span class="copy" (click)="copiar(pedido.id_pedido)">{{pedido.id_pedido | slice:1:15}}...</span></td>
                    <td class="ion-text-center">
                      <ion-chip color="medium"
                      [ngClass]="{'danger': pedido.estado==='rechazado',
                                  'primary':pedido.estado==='entregado',
                                  'success':pedido.estado==='confirmado',
                                  'warning':pedido.estado==='pendiente'}">
                      {{pedido.estado}}
                    </ion-chip>
                    </td>
                    <td class="ion-text-center">{{pedido.fecha_entrega | date:'YYYY-MM-dd'}}</td>
                    <td class="ion-text-center">{{pedido.fecha_creacion | date:'YYYY-MM-dd'}}</td>
                    <td class="ion-text-center">{{pedido.cantidad}}</td>
                    <td class="ion-text-center">{{pedido.colegio}}</td>
                    <td class="ion-text-center">{{pedido.proveedor}}</td>
                    <td>
                      <ion-button color="primary" fill="clear" title="Detalle Pedido" (click)="getPedidoById(pedido.id_pedido)">
                        <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>