<app-header></app-header>
<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <!-- reporte de proveedores -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Reporte Proveedor</ion-card-title>
            <ion-note>Reporte de pedidos</ion-note>
          </ion-card-header>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-select [(ngModel)]="estado_pedido" interface="action-sheet" label="Estado del pedido"
                      label-placement="stacked" value="pendiente" multiple="false"
                      placeholder="Seleccione un estadodel pedido">
                      <ion-select-option value="general">Cualquiera</ion-select-option>
                      <ion-select-option value="pendiente">Pendiente</ion-select-option>
                      <ion-select-option value="confirmado">Confirmado</ion-select-option>
                      <ion-select-option value="rechazado">Rechazado</ion-select-option>
                      <ion-select-option value="entregado">Entregado</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-select interface="action-sheet" (ionChange)="confirmarProveedor($event)" label="Proveedor"
                      label-placement="stacked" value="pendiente" multiple="false" placeholder="Eleccione un proveedor">
                      <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id_proveedor">
                        {{proveedor.razon_social}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size-lg="6">
                  <ion-segment value="hoy" mode="ios" (ionChange)="selectOnSegment($event)">
                    <ion-segment-button value="hoy">
                      <ion-label>Hoy</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fecha">
                      <ion-label>Fecha</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="mensual">
                      <ion-label>Mensual</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="custom">
                      <ion-label>Personalizado</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="custom">
                <ion-col size-xs="12" size-lg="5">
                  <ion-item>
                    <ion-label>
                      <h3>
                        Desde
                      </h3>
                    </ion-label>
                    <ion-datetime-button slot="end" datetime="datei"></ion-datetime-button>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-lg="5">
                  <ion-item>
                    <ion-label>
                      <h3>
                        Hasta
                      </h3>
                    </ion-label>
                    <ion-datetime-button slot="end" datetime="datef"></ion-datetime-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="fecha">
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-label>
                      <h3>
                        Seleccione fecha
                      </h3>
                    </ion-label>
                    <ion-datetime-button slot="end" datetime="fechadeterminada"></ion-datetime-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="mensual">
                <ion-col size-xs="12" size-lg="6">
                  <ion-item lines="none">
                    <ion-label>
                      <h3>Seleccione Mes</h3>
                    </ion-label>
                    <ion-datetime-button slot="end" datetime="reportemes"
                      display-format="YYYY-MM"></ion-datetime-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button (click)="generarReporte()">
                    Generar Informe
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="reporte.length>0">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <ion-card-title>Los Resultados</ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="ion-text-center">Colegio</th>
                  <th class="ion-text-center">Estado</th>
                  <th class="ion-text-center">Cantidad</th>
                  <th class="ion-text-center">Producto</th>
                  <th class="ion-text-center">Precio</th>
                  <th class="ion-text-center">Fecha de entrega</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of reporte;let i = index">
                  <td class="ion-text-center">{{i+1}}</td>
                  <td class="ion-text-center">{{item.colegio}}</td>
                  <td class="ion-text-center">{{item.estado}}</td>
                  <td class="ion-text-center">{{item.cantidad}} unidades</td>
                  <td class="ion-text-center">{{item.producto}}</td>
                  <td class="ion-text-center">{{item.precio_unitario}} Bs</td>
                  <td class="ion-text-center">{{item.fecha_entrega | date:'YYYY-MM-dd'}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8">
                    <ion-button color="success" (click)="generarPDF()">
                      exportar PDf
                    </ion-button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Reporte colegios -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Reporte Colegio</ion-card-title>
            <ion-note>Reporte de planilla de menu mensual</ion-note>
          </ion-card-header>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-select [(ngModel)]="estado_pedido" interface="action-sheet" label="Estado del pedido"
                      label-placement="stacked" value="pendiente" multiple="false"
                      placeholder="Seleccione un estadodel pedido">
                      <ion-select-option value="general">Cualquiera</ion-select-option>
                      <ion-select-option value="pendiente">Pendiente</ion-select-option>
                      <ion-select-option value="confirmado">Confirmado</ion-select-option>
                      <ion-select-option value="rechazado">Rechazado</ion-select-option>
                      <ion-select-option value="entregado">Entregado</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-select (ionChange)="confirmarColegio($event)" interface="action-sheet" label="Colegios"
                      label-placement="stacked" multiple="false" placeholder="Eleccione un Colegio">
                      <ion-select-option *ngFor="let colegio of colegios" [value]="colegio.id_colegio">
                        {{colegio.nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size-lg="6">
                  <ion-item>
                    <ion-label>
                      <h3>Seleccione Mes</h3>
                    </ion-label>
                    <ion-datetime-button slot="end" datetime="reportemes"
                      display-format="YYYY-MM"></ion-datetime-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button (click)="generarReporteColegio()">
                    Generar Informe
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="reportecolegio.length>0">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <ion-card-title>Los Resultados</ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="ion-text-center">Fecha</th>
                  <th class="ion-text-center">Proveedor</th>
                  <th class="ion-text-center">Descripcion</th>
                  <th class="ion-text-center">Cantidad</th>
                  <th class="ion-text-center">Precio (Bs)</th>
                  <th class="ion-text-center">Total</th>
                </tr>
              </thead>
              <tbody> 
                <!-- date:'YYYY-MM-dd' -->
                <tr *ngFor="let item of reportecolegio;let i = index">
                  <td class="ion-text-center">{{i+1}}</td>
                  <td class="ion-text-center">{{item.fecha_entrega | date:'mediumDate'}}</td>
                  <td class="ion-text-center">{{item.proveedor}}</td>
                  <td class="ion-text-center">{{item.producto}}</td>
                  <td class="ion-text-center">{{item.cantidad}} unidades</td>
                  <td class="ion-text-center">{{item.precio_unitario}}</td>
                  <td class="ion-text-center">{{ item.precio_unitario * item.cantidad}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8">
                    <ion-button color="success" (click)="generate_PDF_colegio()">
                      exportar PDf
                    </ion-button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime (ionChange)="fechainicio($event)" doneText="Confirmar" locale="es-ES" [showDefaultButtons]="true"
      [showDefaultTitle]="true" id="datei" [isDateEnabled]="isWeekday" presentation="date">
      <span slot="title">Seleccione Fecha de Inicio</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime (ionChange)="fechafin($event)" doneText="Confirmar" locale="es-ES" [showDefaultButtons]="true"
      [showDefaultTitle]="true" id="datef" [isDateEnabled]="isWeekday" presentation="date">
      <span slot="title">Seleccione Fecha de Fin</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime (ionChange)="fecha_determinada($event)" doneText="Confirmar" locale="es-ES"
      [showDefaultButtons]="true" [showDefaultTitle]="true" id="fechadeterminada" [isDateEnabled]="isWeekday"
      presentation="date">
      <span slot="title">Seleccione una fecha</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime [(ngModel)]="mes_anio" mode="md" id="reportemes" presentation="month-year"></ion-datetime>
  </ng-template>
</ion-modal>