<app-header></app-header>
<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card style="box-shadow: none !important;">
          <ion-card-header>
            <div class="header-card">
              <ion-card-title>Proveedores</ion-card-title>
                <ion-searchbar placeholder="Buscar proveedor" (ionInput)="buscar($event)" [debounce]="250"></ion-searchbar>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Empresa</th>
                    <th>Nit</th>
                    <th>C.S</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]; let i=index">
                    <td>{{i+1}}</td>
                    <td class="content-center">
                      <ion-item class="center" lines="none">
                        <ion-icon slot="start" name="people-outline"></ion-icon>
                        <ion-label>
                          <h3>{{'Juan Loes Estrada' |uppercase}}</h3>
                          <p>(+591) 68691858</p>
                        </ion-label>
                      </ion-item>
                    </td>
                    <td>
                      123456789
                    </td>
                    <td>
                      <!--  -->
                      <ion-chip (click)="presentCS()">
                        <ion-icon name="document-text-outline" color="warning"></ion-icon>
                        <ion-label>Pendiente</ion-label>
                      </ion-chip>
                    </td>
                    <td>
                      <ion-badge style="color:white" color="success" mode="ios">Activo</ion-badge>
                    </td>
                    <td class="content-center">
                      <ion-button routerLink="/dashboard/proveedores/modificar-proveedor" color="primary" fill="clear" title="Modificar Colegio">
                        <ion-icon slot="icon-only" name="create"></ion-icon>
                      </ion-button>
                      <ion-button (click)="presentAlertConfirm()" color="danger" fill="clear" title="Eliminar Colegio">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                      </ion-button>
                      <ion-button  color="tertiary" fill="clear" title="Ver Colegio">
                        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button color="tertiary" [routerLink]="['/dashboard/proveedores/crear-proveedor']" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

