  .responsive {
    overflow-x: auto;
    display: block;
    width: 100%;
  }
  
  .table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  .table tbody tr {
    height: 50px;
    border-bottom: 1px solid #ccc;
  }
  table tbody tr td {
    padding: 5px;
  }
  .content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ion-thumbnail {
    --size: 50px;
    --border-radius: 5px;
  }

  .header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  
    ion-searchbar {
      width: 90%;
      --icon-color: var(--ion-color-tertiary);
      --background: var(--ion-color-light);
      --box-shadow: none;
      --border-radius: 5px;
    }
  }

  .table tbody tr:hover{
    background-color: var(--ion-color-light);
  }
  
  .text-danger{
    color: var(--ion-color-danger);
  }
  .btn-update-pass{
    cursor: pointer;
  }
  .user-deshabilitado{
    text-decoration: line-through;
  }