<app-header></app-header>
<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card style="box-shadow: none !important;">
          <ion-card-header>
            <div class="header-card">
              <ion-card-title>Proveedores</ion-card-title>
              <div>
                <ion-searchbar placeholder="Buscar proveedor" (ionInput)="buscar($event)" [debounce]="250"></ion-searchbar>
              </div>
              <ion-segment 	scrollable="true" value="todos" (ionChange)="filtrarporestado($event)">
                <ion-segment-button value="todos">
                  <ion-label>Todos</ion-label>
                </ion-segment-button>
                <ion-segment-button value="activo">
                  <ion-label>Activos</ion-label>
                </ion-segment-button>
                <ion-segment-button value="inactivo">
                  <ion-label>Inactivos</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      <div style="width: 100%; display: flex; justify-content: flex-start;">
                        <span style="margin-left: 30px;">Proveedor</span>
                     </div>
                    </th>
                    <th>Estado</th>
                    <th>Nit</th>
                    <th>C.S</th>
                    <th>usuario</th>
                    <th>estado usuario</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="gris-table" *ngFor="let proveedor of Arrproveedores | filter:texto:'razon_social'; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      <ion-item class="center" lines="none">
                        <ion-thumbnail slot="start">
                          <ion-img [src]="proveedor.imagen || './assets/img/proveedor.jpg'"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>{{proveedor.razon_social}}</h3>
                          <p>{{proveedor.celular}}</p>
                         <a class="btn-update-pass" (click)="updateImgModal(proveedor.id_proveedor,proveedor.imagen)">cambiar imagen</a>
                        </ion-label>
                      </ion-item>
                    </td>
                    <td>
                      <ion-badge [color]="proveedor.estado=='activo'?'success':'warning'" mode="ios">{{proveedor.estado}}</ion-badge>
                    </td>
                    <td>
                      {{proveedor.nit || 'SIN NIT'}}
                    </td>
                    <td>
                      <ion-chip (click)="presentCS(proveedor.id_proveedor)" *ngIf="proveedor.certificado_sanitario=='pendiente'">
                        <ion-icon name="document-text-outline" color="warning"></ion-icon>
                        <ion-label>Pendiente</ion-label>
                      </ion-chip>
                      <ion-text color="tertiary" *ngIf="proveedor.certificado_sanitario=='valido'">
                        <span>{{proveedor.certificado_sanitario|uppercase}}</span>
                      </ion-text>
                    </td>
                    <td>
                      <a class="btn-update-pass" [ngClass]="proveedor.estado_usuario=='inactivo'?'user-deshabilitado':''" (click)="updatePassModal(proveedor.usuario)">{{proveedor.usuario}}</a>
                      <ion-button *ngIf="!proveedor.usuario" fill="clear" (click)="createUsuarioModal(proveedor.id_proveedor)">
                        <ion-icon slot="icon-only" name="lock-open-outline"></ion-icon>
                      </ion-button>
                    </td>
                    <td>
                      <ion-chip (click)="modEstadoUsuario(proveedor.usuario,'inactivo')" color="danger" *ngIf="proveedor.estado_usuario==='activo'" mode="md" outline="false">
                        <ion-label>Deshabilitar</ion-label>
                      </ion-chip>
                      <ion-chip (click)="modEstadoUsuario(proveedor.usuario,'activo')" color="success" *ngIf="proveedor.estado_usuario==='inactivo'" mode="md" outline="false">
                        <ion-label>Habilitar</ion-label>
                      </ion-chip>
                      <p class="text-danger" *ngIf="!proveedor.estado_usuario">Sin usuario</p>
                    </td>
                    
                    <td class="content-center">
                      <ion-button color="primary" (click)="updateForm(proveedor.id_proveedor)" fill="clear" title="Modificar Proveedor">
                        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                      </ion-button>
                      <ion-button (click)="AlertConfirm(proveedor.id_proveedor,'inactivo')" *ngIf="proveedor.estado==='activo'" color="danger" fill="clear" title="Deshabilitar Proveedor">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                      </ion-button>
                      <ion-button (click)="AlertConfirm(proveedor.id_proveedor,'activo')" *ngIf="proveedor.estado==='inactivo'" color="success" fill="clear" title="Habilitar Proveedor">
                        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
                      </ion-button>
                      <ion-button  color="tertiary" fill="clear" title="Ver Proveedor" (click)="detalleProveedor(proveedor.id_proveedor)">
                        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

