<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" #menuid>
      <ion-content color="tertiary">
        <ion-list id="inbox-list" class="color-tertiary" lines="none">
          <ion-list-header>Administrador</ion-list-header>
          <ion-note>santosdebra771@gmail.com</ion-note>
        </ion-list>
        <div>
          <div *ngFor="let item of menu">
            <div class="color-tertiary" *ngIf="item.multiple">
              <ion-item color="tertiary"  (click)="mostrar(item.id)" class="pointer">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>{{item.title}}</ion-label>
                <ion-icon slot="end" [name]="item.open ? 'chevron-up' : 'chevron-down'"></ion-icon>
              </ion-item>
              <div *ngIf="item.open">
                <ng-container *ngTemplateOutlet="submenus;context:{sub:item.submenu}"></ng-container>
              </div>
            </div>
            <ion-item *ngIf="!item.multiple" color="tertiary" [routerLink]="item.path" routerLinkActive="selected">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-text>
                <span>{{item.title}}</span>
              </ion-text>
            </ion-item>
          </div>
        </div>
        <ng-template #submenus let-submenu="sub">
          <ion-item class="left" color="tertiary" (click)="cerrarmenu()" *ngFor="let item of submenu" [routerLink]="item.path"
            routerLinkActive="selected">
            <!-- <ion-icon slot="start" [name]="item.icon"></ion-icon> -->
            <ion-text>
              <span>{{item.title}}</span>
            </ion-text>
          </ion-item>
        </ng-template>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>