#map{
    width: 100%;
    height: 100vh;
}

.marker_class{
    width: 3rem;
    height: 3rem;
    background-image: url('../../../../../assets/img/pin.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-atras{
    position: absolute;
    top:20px;
    left:20px;
}
.btn-ok{
    position: absolute;
    top:20px;
    right: 20px;
}