<ion-content color="">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="close()" >
                        <ion-icon slot="start" name="close-outline" ></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Modificar password</ion-title>
            </ion-toolbar>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formpass" (submit)="updatePass()">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <h3><ion-badge color="light" mode="md">Usuario {{usuario}}</ion-badge></h3>
                  </ion-col>
                </ion-row>
                <!-- primera fila -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                    <ion-item lines="none">
                      <ion-input label="Password" labelPlacement="stacked" type="password"
                        helperText="Ingrese un password seguro que contenga letras numeros y caracteres especiales" 
                        [errorText]="Error('pass')"
                        maxlength="30"
                        formControlName="pass">
                      </ion-input>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-input label="Repetir password" labelPlacement="stacked" type="password"
                        helperText="Asegurate de haber ingresado el password correctamente" 
                        [errorText]="Error('repeatpass')"
                        maxlength="30"
                        formControlName="repeatpass">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <!-- boton del formulario  -->
                <ion-row>
                  <ion-col size="12">
                    <ion-button color="primary" type="submit"  [disabled]="formpass.invalid"> 
                     Actualizar
                    </ion-button>
                    <ion-button (click)="close()" fill="clear" color="dark">
                      cancelar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

