<ion-content color="">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="close()">
                        <ion-icon slot="start" name="close-outline" ></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Formulario para modificar categoria</ion-title>
            </ion-toolbar>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formcategoriamod" (submit)="UpdateCategoria()">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <h3><ion-badge color="light" mode="md">Modificar Categoria</ion-badge></h3>
                  </ion-col>
                </ion-row>
                <!-- primera fila -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                    <ion-item lines="none">
                      <ion-input helperText="Nombre de la categoria" label="Nombre *" type="text"
                        labelPlacement="stacked" 
                        [counter]="true"
                         maxlength="30"
                        formControlName="nombre" >
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                    <ion-item lines="none">
                      <ion-textarea label="Descripcion" labelPlacement="stacked" type="text"
                        helperText="Descripcion sobre la categoria" 
                        [autoGrow]="true"
                        [counter]="true" 
                        maxlength="150"
                        formControlName="descripcion">
                      </ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <!-- boton del formulario  -->
                <ion-row>
                  <ion-col size="12">
                    <ion-button type="submit" color="primary" [disabled]="formcategoriamod.invalid">
                      Actualizar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

