<app-header></app-header>
<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card style="box-shadow: none !important;">
          <ion-card-header>
            <div class="header-card">
              <ion-card-title>Colegios</ion-card-title>
                <ion-searchbar placeholder="Buscar colegio" (ionInput)="buscar($event)" [debounce]="250"></ion-searchbar>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Direccion</th>
                    <th>Estudiantes</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of [1,1,1,1,1]; let i=index">
                    <td>{{i+1}}</td>
                    <td class="content-center">
                      <ion-item class="center" lines="none">
                        <ion-thumbnail slot="start">
                          <img src="assets/img/logo-colegio.png" />
                        </ion-thumbnail>
                        <ion-label>
                          <h3>{{'San jorge II' |uppercase}}</h3>
                          <p>(+591) 68691858</p>
                        </ion-label>
                      </ion-item>
                    </td>
                    <td>
                      <ion-badge style="color:white" color="success" mode="ios">Activo</ion-badge>
                    </td>
                    <td>Barrio miraflores</td>
                    <td>326</td>
                    <td class="content-center">
                      <ion-button color="primary" routerLink="/dashboard/colegios/modificar-colegio" fill="clear" title="Modificar Colegio">
                        <ion-icon slot="icon-only" name="create"></ion-icon>
                      </ion-button>
                      <ion-button (click)="presentAlertConfirm()" color="danger" fill="clear" title="Eliminar Colegio">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                      </ion-button>
                      <ion-button  color="tertiary" fill="clear" title="Ver Colegio">
                        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button color="tertiary" [routerLink]="['/dashboard/colegios/crear-colegio']" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
