<app-header></app-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card style="box-shadow: none !important;">
          <ion-card-header>
            <ion-card-title>
              <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button routerLink="/dashboard/proveedores">
                        <ion-icon slot="start" name="chevron-back-outline" ></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Formulario para la modificacion del Proveedor</ion-title>
            </ion-toolbar>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formmodProveedor">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <h3><ion-badge color="light" mode="md">Informacion general</ion-badge></h3>
                  </ion-col>
                </ion-row>
                <!-- primera fila -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-input helperText="Nombre de la Empresa" label="Razon Social *" type="text"
                        labelPlacement="stacked" formControlName="razon_social" [errorText]="razonSocial_Error">
                      </ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-input label="Nit" labelPlacement="stacked" type="number" maxlength="10"
                        helperText="Nit de la Empresa" formControlName="nit"  [errorText]="nit_Error">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <!-- segunda fila -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-input helperText="Limite de productos entregados por dia" label="Limite *" type="number"
                        labelPlacement="stacked" [errorText]="limite_Error" formControlName="limite_entregas">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item>
                      <ion-select justify="space-between" formControlName="certificado_sanitario" labelPlacement="stacked" label="Certificado Sanitario *"
                      placeholder="Seleccione el Estado">
                        <ion-select-option value="valido">Valido</ion-select-option>
                        <ion-select-option value="pendiente">Pendiente</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h3><ion-badge color="light" mode="md">Contactos</ion-badge></h3>
                  </ion-col>
                </ion-row>
                <!-- tercera fila  -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                    <ion-item lines="none">
                      <ion-input formControlName="celular" label="Numero de Celular *" labelPlacement="stacked"
                        [maskito]="celular" [maskitoElement]="maskPredicate"
                        helperText="Numero de celular" [errorText]="celular_Error" [counter]="true" maxlength="15">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h3><ion-badge color="light" mode="md">Ubicacion</ion-badge></h3>
                  </ion-col>
                </ion-row>
                <!-- cuarta fila -->
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-input formControlName="zona" label="Zona *" labelPlacement="stacked" type="text" maxlength="150"
                        helperText="Zona en la que se encuentra el proveedor" [errorText]="zona_Error">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-input formControlName="calle" label="Calle" labelPlacement="stacked" type="text" maxlength="150"
                        helperText="Calle de referencia">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
                      <ion-item lines="none">
                        <ion-textarea [autoGrow]="true" helperText="Referencia en donde se encuentra su domicilio" formControlName="referencia" label="Referencia" labelPlacement="stacked" type="text"></ion-textarea>
                      </ion-item>
                    </ion-col>
                  </ion-col>
                </ion-row>
                <!-- boton del formulario  -->
                <ion-row>
                  <ion-col size="12">
                    <ion-button color="primary" (click)="update()" [disabled]="formmodProveedor.invalid">
                      Salvar cambios
                    </ion-button>
                    <ion-button color="tertiary" [routerLink]="['/dashboard/proveedores/listar-proveedores']">
                      Cancelar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
