<app-header></app-header>
<ion-content color="light">
    <ion-grid fixed>
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="content">
                <ion-thumbnail class="imagen">
                    <img src="https://statics-cuidateplus.marca.com/cms/styles/natural/azblob/platanos_0.jpg.webp?itok=Nm5QVrwg" />
                </ion-thumbnail>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="content">
                <div class="detalle-content">
                    <h1 style="font-size: 3rem;">PLATANO</h1>
                    <h3>1200 Unidades</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus natus harum pariatur deleniti quasi ullam.</p>
                    <div class="items-content">
                        <div>
                            <ion-item lines="none">
                                <ion-icon name="cash-outline" slot="start"></ion-icon>
                                <ion-label>2 Bs</ion-label>
                            </ion-item>
                        </div>
                        <div>
                            <ion-item lines="none">
                                <ion-icon name="fast-food-outline" slot="start"></ion-icon>
                                <ion-label>Solido</ion-label>
                            </ion-item>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
